body{
    background-color: #000000;
    background-image: linear-gradient(#000000 0%, #414141 74%);
    height:735px;
}

#config{
    color:white;
    font-size: 45px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
}

#img5{
    width:50px;
    height: 50px;
    transform: rotate(-180deg);
    background-color: gray;
    opacity: 20%;
}

#sub{
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    padding:10px;
}

#sub button{
    height: 100px;
    width:100%;
    font-size: 30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: #000000;
    background-image: linear-gradient(0deg, #000000 0%, #434343 74%);
    border:none;
    border-radius:25px;
}

#sub button:hover{
    background-color: #000000;
    background-image: linear-gradient(#000000 0%, #7f8c8d 74%);
}

#sub1{
    display: inline;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
}

#sub1 button{
    height: 100px;
    width:33%;
    font-size: 30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: #000000;
    background-image: linear-gradient(0deg, #000000 0%, #434343 74%);
    border:none;
    border-radius:25px;
}

#sub1 button:hover{
    background-color: #000000;
    background-image: linear-gradient(#000000 0%, #7f8c8d 74%);
}

.overlay {
	background: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
}

.overlay.active {
	visibility: visible;
}

.overlay2 {
	background: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
}

.overlay2.active {
	visibility: visible;
}

.popup {
	background-image: linear-gradient(#000000 0%, #414141 74%);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	padding: 20px;
	text-align: center;
	width: 600px;
	
	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0;
}

.popup .btn-cerrar-popup {
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: #BBBBBB;
}

.popup .btn-cerrar-popup:hover {
	color: #000;
}

.popup h3 {
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 10px;
	opacity: 0;
    color: white;
}

.popup h4 {
	font-size: 26px;
	font-weight: 300;
	margin-bottom: 40px;
	opacity: 0;
    color:white;
}

.popup form .contenedor-inputs {
	opacity: 0;
}

.popup form .contenedor-inputs input {
	width: 100%;
	margin-bottom: 20px;
	height: 52px;
	font-size: 18px;
	line-height: 52px;
	text-align: center;
	border: 1px solid #BBBBBB;
}

.popup form .btn-submit {
	padding: 0 20px;
	height: 40px;
	line-height: 40px;
	border: none;
	color: #fff;
    background-image: linear-gradient(0deg, #000000 0%, #434343 74%);
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	cursor: pointer;
	transition: .3s ease all;
}

.popup form .btn-submit:hover {
	background: rgba(94,125,227, .9);
}

.popup.active {	transform: scale(1); opacity: 1; }
.popup.active h3 { animation: entradaTitulo .8s ease .5s forwards; }
.popup.active h4 { animation: entradaSubtitulo .8s ease .5s forwards; }
.popup.active .contenedor-inputs { animation: entradaInputs 1s linear 1s forwards; }

.popup2 {
	background-image: linear-gradient(#000000 0%, #414141 74%);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	padding: 20px;
	text-align: center;
	width: 600px;
	
	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 0;
}

.popup2 .btn-cerrar-popup {
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: #BBBBBB;
}

.popup2 .btn-cerrar-popup:hover {
	color: #000;
}

.popup2 h3 {
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 10px;
	opacity: 0;
    color: white;
}

.popup2 h4 {
	font-size: 26px;
	font-weight: 300;
	margin-bottom: 40px;
	opacity: 0;
    color:white;
}

.popup2 form .contenedor-inputs {
	opacity: 0;
}

.popup2 form .contenedor-inputs input {
	width: 100%;
	margin-bottom: 20px;
	height: 52px;
	font-size: 18px;
	line-height: 52px;
	text-align: center;
	border: 1px solid #BBBBBB;
}

.popup2 form .btn-submit {
	padding: 0 20px;
	height: 40px;
	line-height: 40px;
	border: none;
	color: #fff;
    background-image: linear-gradient(0deg, #000000 0%, #434343 74%);
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	cursor: pointer;
	transition: .3s ease all;
}

.popup2 form .btn-submit:hover {
	background: rgba(94,125,227, .9);
}

.popup2.active {	transform: scale(1); opacity: 1; }
.popup2.active h3 { animation: entradaTitulo .8s ease .5s forwards; }
.popup2.active h4 { animation: entradaSubtitulo .8s ease .5s forwards; }
.popup2.active .contenedor-inputs { animation: entradaInputs 1s linear 1s forwards; }

@keyframes entradaTitulo {
	from {
		opacity: 0;
		transform: translateY(-25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes entradaSubtitulo {
	from {
		opacity: 0;
		transform: translateY(25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes entradaInputs {
	from { opacity: 0; }
	to { opacity: 1; }
}
