#encabezado{
    background-image:linear-gradient( #57606F 0%, #D3D3D3 74%);
    height:60px;
}

#cuerpo{
    background-color:black;
    height:650px;
}

#container{
    display: flex;
    align-items: center;
    flex-direction: column; 
    justify-content: center;
    width: 100%;
    min-height: 100%;
}

#container img{
    margin:10px;
}

#container button{
    margin:10px;
    width: 170px;
    background-image:linear-gradient(-180deg, #F5F7F6 0%, #5CA0F2 74%);
    border: none;
}

#container label{
    margin:10px;
    font-size: 20px;
    font-family:"Times New Roman", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color:white; 
    opacity: 70%;
}

#container input{
    margin:10px;
    height: 30px;
    background-image:linear-gradient(-180deg, #F5F7F6 0%, #5CA0F2 74%);
    border: none;
    opacity: 90%;
}

#footer{
    background-image:linear-gradient(-180deg, #57606F 0%, #D3D3D3 74%);
    height:25px;
    color:rgb(231, 231, 231);
    font-family:"HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:15px;
    text-align: center;
}

img{
    height:60px;
    width:60px;
    display: block;
    margin:auto;
}

/*https://www.eggradients.com/category/metal-gradient?83ff460c_page=2*/