body{
    background-image: linear-gradient(#7f5a83 0%, #0d324d 74%);
    height: 780px;
    position: relative;
}

#encabezado1{
    height:60px;
    opacity: 80%;
}

#cuerpo1{
    background-color:black;
    height:650px;
}

#footer1{
    background-image:linear-gradient(-180deg, #57606F 0%, #D3D3D3 74%);
    height:25px;
    color:rgb(231, 231, 231);
    font-family:"HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:15px;
    text-align: center;
}

#img1{
    height:60px;
    width:60px;
    display: block;
    margin:auto;
}

#img2{
    height:40px;
    width:40px;
}

#img3{
    height:40px;
    width:40px;
    margin-left: 450px;
}

#lista_canciones{
    background-color: #d8dede;
    background-image: linear-gradient(315deg, #d8dede 0%, #e5bdf6 74%);
    width:620px;
    height:520px;
    display: block;
    margin:auto;
    overflow-y: auto;
    font-size: 50px;
    word-break: break-all;
}

#lista_canciones::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
  }


#lista_canciones::-webkit-scrollbar-track {
    background: gray;        /* color of the tracking area */
  }

#lista_canciones::-webkit-scrollbar-thumb {
    background-color: black;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid gray;  /* creates padding around scroll thumb */
  }

#repro{
    background-color: #fde7f9;
    background-image: linear-gradient(315deg, #fde7f9 0%, #aacaef 74%);
    width:1000px;
    height:90px;
    display: block;
    margin:10px auto;
}

#busqueda{
    display: flex;
}

#Asearch{
    height: 50px;
    width: 500px;
    margin-left:460px;
    margin-bottom: 5px;
    padding-bottom: 5px;
    background-color: #000000;
    background-image: linear-gradient(200deg, #000000 0%, #414141 74%);
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #2f4353;
    background-image: linear-gradient(315deg, #2f4353 0%, #d2ccc4 74%);
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
